h1.customer {
  line-height: 0.9;
}

/**********/
/* Labels */
/**********/

.label-Academic {
  background-color: rgb(255, 97, 102);
}

.label-Government {
  background-color: rgb(129, 133, 255);
}

.label-Industry {
  background-color: rgb(85, 182, 83);
}

/**********/
/* Panels */
/**********/

/* By default, Bootstrap panel footers use 'background-color: #f5f5f5' */
.panel-footer.panel-danger {
  background-color: #f2dede;
}

.panel-footer.panel-info {
  background-color: #d9edf7;
}

.panel-footer.panel-primary {
  background-color: #337ab7;
}

.panel-footer.panel-success {
  background-color: #dff0d8;
}

.panel-footer.panel-warning {
  background-color: #fcf8e3;
}

/***********/
/* Tables */
/***********/

table tfoot {
  border-top: double lightgray;
}

th, tr {
  text-align: center;
}

th .glyphicon-hourglass {
  font-size: 1.2em;
}
