table tfoot {
  border-top: double lightgray;
}

/**********/
/* Panels */
/**********/

/* By default, Bootstrap panel footers use 'background-color: #f5f5f5' */
.panel-footer.panel-danger {
  background-color: #f2dede;
}

.panel-footer.panel-info {
  background-color: #d9edf7;
}

.panel-footer.panel-primary {
  background-color: #337ab7;
}

.panel-footer.panel-success {
  background-color: #dff0d8;
}

.panel-footer.panel-warning {
  background-color: #fcf8e3;
}
