<a name="{{ anchor }}"></a>
<div class="panel panel-{{ panel_type }}">

  <div class="panel-heading">
    <h1 class="panel-title"><a href='#summary'>{{ panel_title }}</a></h1>
  </div>

  <table class="table">
    <thead>
      {% include "revenue_tracker/_transaction_summary_panel_header_row.html" %}
    </thead>
    <tbody>
      {% for subreport in full_report.by_type %}
        {% include "revenue_tracker/_transaction_summary_panel_item.html" with item=subreport %}
      {% endfor %}
    </tbody>
    {% if full_report.by_type|length > 1 %}
      <tfoot>
        {% include "revenue_tracker/_transaction_summary_panel_item.html" with item=full_report %}
      </tfoot>
    {% endif %}
  </table>

  <a href="#{{ anchor }}">
    <div class="panel-footer panel-{{ panel_type }}"></div>
  </a>

</div>
