<a name="{{ anchor }}"></a>
<div class="panel panel-{{ panel_type }}">

  <div class="panel-heading">
    <h1 class="panel-title"><a href='#summary'>{{ panel_title }}</a></h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Transaction Type</th>
        <th>Customers (Repeat)</th>
        <th>Total Revenue</th>
        <th>Number of Reactions</th>
        <th>Revenue / Reaction</th>
        <th>IP-Related Revenue</th>
        <th>Royalties Owed</th>
      </tr>
    </thead>
    <tbody>
      {% for subreport in report_list %}
        {% include "revenue_tracker/_transaction_summary_panel_item.html" with item=subreport %}
      {% endfor %}
    </tbody>
    {% if report_list|length > 1 %}
      <tfoot>
        {% include "revenue_tracker/_transaction_summary_panel_item.html" with item=report %}
      </tfoot>
    {% endif %}
  </table>

  <a href="#{{ anchor }}">
    <div class="panel-footer panel-{{ panel_type }}"></div>
  </a>

</div>
