<a name="{{ anchor }}"></a>
<div class="panel panel-{{ panel_type }}">

  <div class="panel-heading">
    <h1 class="panel-title"><a href='#summary'>{{ panel_title }}</a></h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        {% if not customer %}
          <th></th>
        {% endif %}
        <th>Date Ordered</th>
        <th>Date Fulfilled</th>
        {% if not customer %}
          <th>Customer</th>
        {% endif %}
        <th>Vendor</th>
        {% if transaction_type == 'all' %}
          <th>Transaction Type</th>
        {% endif %}
        <th>Size</th>
        <th>Quote</th>
        <th>Order</th>
        <th>Invoice</th>
        <th>Total Revenue</th>
        <th>Revenue / Sample</th>
        <th>IP-Related (Net)</th>
        <th>IP-Related (Gross)</th>
        <th>IP-Related Discount</th>
        <th>Royalties Owed</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transaction_list %}
        {% include "revenue_tracker/_transaction_panel_item.html" %}
      {% endfor %}
    </tbody>
  </table>

  <a href="#{{ anchor }}">
    <div class="panel-footer panel-{{ panel_type }}"></div>
  </a>

</div>
