<div class="form-row">
  <div id="institution-type-filter" class="form-group btn-group" data-toggle="buttons">
    <label class="btn btn-default radio-label"><input type="radio" name="institution_type" value="Academic" id="institution-academic" autocomplete="off">Academic</label>
    <label class="btn btn-default radio-label"><input type="radio" name="institution_type" value="Government" id="institution-government" autocomplete="off">Government</label>
    <label class="btn btn-default radio-label"><input type="radio" name="institution_type" value="Industry" id="institution-industry" autocomplete="off">Industry</label>
    <button id="reset-institution-type-filter" class="btn btn-danger" type="submit"><small><span class="glyphicon glyphicon-remove"></span></small></button>
  </div>

  <div id="transaction-type-filter" class="form-group btn-group" data-toggle="buttons">
    <label class="btn btn-default radio-label"><input type="radio" name="transaction_type" value="kit" id="transaction-kit" autocomplete="off">Kit Sale</label>
    <label class="btn btn-default radio-label"><input type="radio" name="transaction_type" value="service" id="transaction-service" autocomplete="off">Service Contract</label>
    <label class="btn btn-default radio-label"><input type="radio" name="transaction_type" value="other" id="transaction-other" autocomplete="off">Other</label>
    <button id="reset-transaction-type-filter" class="btn btn-danger" type="submit"><small><span class="glyphicon glyphicon-remove"></span></small></button>
  </div>
</div>
