{% extends "revenue_tracker/base.html" %}
{% load get_verbose_transaction_type humanize %}

{% block title %}
  {{ customer }} | {{ block.super }}
{% endblock %}

{% block content %}

  <div class="container">

    <a name='summary'></a>
    <div class="jumbotron">
      <h3>
        <span class="label label-{{ customer.institution_type }} pull-right">
          {{ customer.institution_type }}
        </span>
      </h3>

      {% if customer.name %}
        <h1 class="customer">
          {% if customer.website %}<a href="{{ customer.website }}">{{ customer.name }}</a>{% else %}{{ customer.name }}{% endif %}
        <br>
        <small>
          {% if customer.institution.website %}<a href="{{ customer.institution.website }}">{{ customer.institution }}</a>{% else %}{{ customer.institution }}{% endif %}
        </small>
        </h1>
      {% else %}
        <h1>
          {% if customer.institution.website %}<a href="{{ customer.institution.website }}">{{ customer.institution }}</a>{% else %}{{ customer.institution }}{% endif %}
        </h1>
      {% endif %}

      {% if customer.contact %}
          <i class="glyphicon glyphicon-user"></i>:
        {{ customer.contact.name }}
        {% if customer.contact.email %}
          <a href="mailto:{{ customer.contact.email }}"><i class="glyphicon glyphicon glyphicon-envelope"></i></a>
        {% endif %}
        {% if customer.contact.website %}
          <a href="{{ customer.contact.website }}" target="_blank"><i class="glyphicon glyphicon-share-alt"></i></a>
        {% endif %}
        {% if customer.contact.phone %}
          <br>
          <i class="glyphicon glyphicon-earphone"></i>: {{ customer.contact.phone.as_international }}
        {% endif %}
      {% endif %}
    </div>

    <h2>Transaction Summary</h2>
    {% if unfulfilled_list %}
      {% include "revenue_tracker/_transaction_summary_panel.html" with panel_type="danger" full_report=report_unfulfilled anchor="pending-transaction-summary" panel_title="Pending" %}
      {% include "revenue_tracker/_transaction_summary_panel.html" with panel_type="info" full_report=report_including_unfulfilled anchor="completed-and-pending-transaction-summary" panel_title="Completed & Pending" %}
    {% endif %}
    {% include "revenue_tracker/_transaction_summary_panel.html" with panel_type="primary" full_report=report anchor="completed-transaction-summary" panel_title="Completed" %}

    <h2>Transactions</h2>
    {% if unfulfilled_list %}
      {% include "revenue_tracker/_transaction_panel.html" with panel_type="danger" transaction_list=unfulfilled_list transaction_type="all" anchor="pending-transactions" panel_title="Pending" %}
    {% endif %}
    {% include "revenue_tracker/_transaction_panel.html" with panel_type="primary" transaction_list=fulfilled_list transaction_type="all" anchor="completed-transactions" panel_title="Completed" %}

  </div>

{% endblock %}
