{% extends "revenue_tracker/base.html" %}
{% load project_home %}

{% block title %}
  {% if customer_list %}Customers{% elif vendor_list %}Vendors{% endif %} | {{ block.super }}
{% endblock %}

{% block content %}

  <div class="container">

    <ol class="breadcrumb">
      {% project_home_breadcrumb_bs3 %}
      <li><a href="{% url 'revenue_tracker:transaction_list' %}">Transactions</a></li>
      <li class="active">{% if customer_list %}Customers{% elif vendor_list %}Vendors{% endif %}</li>
    </ol>

    {% if customer_list %}
      {% include "revenue_tracker/_customer_panel.html" with panel_type="primary" customer_list=customer_list anchor="all-customers" panel_title="" %}
    {% elif vendor_list %}
      {% include "revenue_tracker/_customer_panel.html" with panel_type="primary" customer_list=vendor_list anchor="all-vendors" panel_title="" is_vendor=True %}
    {% endif %}

  </div>

{% endblock %}
