{% extends "revenue_tracker/base.html" %}
{% load project_home %}

{% block title %}
  Outstanding Invoices | {{ block.super }}
{% endblock %}

{% block content %}

  <div class="container">

    <ol class="breadcrumb">
      {% project_home_breadcrumb_bs3 %}
      <li><a href="{% url 'revenue_tracker:transaction_list' %}">Transactions</a></li>
      <li class="active">Outstanding Invoices</li>
    </ol>

    <h2>Transaction Summary</h2>
    {% include "revenue_tracker/_transaction_summary_panel.html" with panel_type="primary" full_report=report anchor="outstanding-invoice-summary" panel_title="Completed and Unpaid" %}

    <h2>Transactions</h2>
    {% include "revenue_tracker/_transaction_panel.html" with panel_type="primary" transaction_list=transaction_list transaction_type="all" anchor="outstanding-invoices" panel_title="Completed and Unpaid" %}

  </div>

{% endblock %}
