{% extends "revenue_tracker/base.html" %}

{% block title %}
  Outstanding Invoices | {{ block.super }}
{% endblock %}

{% block content %}

  <div class="container">

    <ol class="breadcrumb">
      {% if django_project_home_url %}
        <li><a href="{{ django_project_home_url }}">Home</a></li>
      {% endif %}
      <li><a href="{% url 'revenue_tracker:transaction_list' %}">Transactions</a></li>
      <li class="active">Outstanding Invoices</li>
    </ol>

    <h2>Transaction Summary</h2>
    {% include "revenue_tracker/_transaction_summary_panel.html" with panel_type="primary" full_report=report anchor="completed-transaction-summary" panel_title="Completed and Unpaid" %}

    <h2>Transactions</h2>
    {% include "revenue_tracker/_transaction_panel.html" with panel_type="primary" transaction_list=transaction_list transaction_type="all" anchor="completed-transactions" panel_title="Completed and Unpaid" %}

  </div>

{% endblock %}
