{% extends "revenue_tracker/base.html" %}
{% load project_home %}

{% block title %}
  Pending Transactions | {{ block.super }}
{% endblock %}

{% block content %}

  <div class="container">

    <ol class="breadcrumb">
      {% project_home_breadcrumb_bs3 %}
      <li><a href="{% url 'revenue_tracker:transaction_list' %}">Transactions</a></li>
      <li class="active">Pending Transactions</li>
    </ol>

    <a name='summary'></a>
    <div class="jumbotron">
      <h1>Pending Transaction Report</h1>
      <div class="well">
        <form method="get" class="form-inline">
          {% include "revenue_tracker/_type_filters.html" %}
          &nbsp;&nbsp;
          <br>
          {% include "revenue_tracker/_submit_filters.html" %}
        </form>
      </div>
    </div>

    <h2>Transaction Summary</h2>
    {% include "revenue_tracker/_transaction_summary_panel.html" with panel_type="danger" full_report=report anchor="pending-transaction-summary" panel_title="Pending" %}

    <h2>Transactions</h2>
    {% include "revenue_tracker/_transaction_panel.html" with panel_type="danger" transaction_list=transaction_list transaction_type="all" anchor="pending-transactions" panel_title="Pending" %}

  </div>

{% endblock %}

{% block footer %}
  <script type="text/javascript">
    $(document).ready(function(){
      var $institution_radios = $('input:radio[name=institution_type]');
      $institution_radios.filter('[value={{ institution_type }}]').click();

      var $transaction_radios = $('input:radio[name=transaction_type]');
      $transaction_radios.filter('[value={{ transaction_type }}]').click();
    });
  </script>
{% endblock footer %}
