{% extends "revenue_tracker/base.html" %}

{% block title %}
  Transactions | {{ block.super }}
{% endblock %}

{% block content %}

  <div class="container">

    <a name='summary'></a>
    <div class="jumbotron">
      <h1>Transaction Report</h1>
      <div class="well">
        <div class="btn-group">
          <button class="btn btn-lg btn-success" id="2016" onclick="filter_by_period(year=2016)">2016</button>
          <button class="btn btn-lg btn-default" id="2016-Q1" onclick="filter_by_period(year=2016, quarter='Q1')">Q1</button>
          <button class="btn btn-lg btn-default" id="2016-Q2" onclick="filter_by_period(year=2016, quarter='Q2')">Q2</button>
          <button class="btn btn-lg btn-default" id="2016-Q3" onclick="filter_by_period(year=2016, quarter='Q3')">Q3</button>
          <button class="btn btn-lg btn-default" id="2016-Q4" onclick="filter_by_period(year=2016, quarter='Q4')">Q4</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-lg btn-success" id="2017" onclick="filter_by_period(year=2017)">2017</button>
          <button class="btn btn-lg btn-default" id="2017-Q1" onclick="filter_by_period(year=2017, quarter='Q1')">Q1</button>
          <button class="btn btn-lg btn-default" id="2017-Q2" onclick="filter_by_period(year=2017, quarter='Q2')">Q2</button>
          <button class="btn btn-lg btn-default" id="2017-Q3" onclick="filter_by_period(year=2017, quarter='Q3')">Q3</button>
          <button class="btn btn-lg btn-default" id="2017-Q4" onclick="filter_by_period(year=2017, quarter='Q4')">Q4</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-lg btn-success" id="2018" onclick="filter_by_period(year=2018)">2018</button>
          <button class="btn btn-lg btn-default" id="2018-Q1" onclick="filter_by_period(year=2018, quarter='Q1')">Q1</button>
        </div>
      </div>
      <form method="get">
        <label for="from_date">From date: </label>
        <input id="from_date" type="text" name="from_date" value="{{ from_date }}">
        <label for="to_date">To date: </label>
        <input id="to_date" type="text" name="to_date" value="{{ to_date }}">
        <div class="btn-group">
          <button id="last-365" class="btn btn-default" onclick="set_date_range_since(days=365)"><small>-365</small></button>
          <button id="last-90" class="btn btn-default" onclick="set_date_range_since(days=90)"><small>-90</small></button>
          <button id="last-30" class="btn btn-default" onclick="set_date_range_since(days=30)"><small>-30</small></button>
        </div>
        <div class="btn-group">
          <input class="btn btn-primary" type="submit" value="Filter by Fulfillment Date">
          <button id="reset-filter" class="btn btn-danger" type="submit"><small><span class="glyphicon glyphicon-remove"></span></small></button>
        </div>
      </form>
      <br>
      <button class="btn btn-info" id="toggle-in-progress">Show Pending Transactions</button>
    </div>

    <h2>Transaction Summary</h2>
    <div class="in-progress" style="display: none;">
      {% include "revenue_tracker/_transaction_summary_panel.html" with panel_type="danger" full_report=report_unfulfilled anchor="pending-transaction-summary" panel_title="Pending" %}
      {% include "revenue_tracker/_transaction_summary_panel.html" with panel_type="info" full_report=report_including_unfulfilled anchor="completed-and-pending-transaction-summary" panel_title="Completed & Pending" %}
    </div>
    {% include "revenue_tracker/_transaction_summary_panel.html" with panel_type="primary" full_report=report anchor="completed-transaction-summary" panel_title="Completed" %}
    <h2>Transactions</h2>
    <div class="in-progress" style="display: none;">
      {% include "revenue_tracker/_transaction_panel.html" with panel_type="danger" transaction_list=unfulfilled_list transaction_type="all" anchor="pending-transactions" panel_title="Pending" %}
    </div>
    {% include "revenue_tracker/_transaction_panel.html" with panel_type="primary" transaction_list=transaction_list transaction_type="all" anchor="completed-transactions" panel_title="Completed" %}

  </div>

{% endblock %}

{% block footer %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#toggle-in-progress').on('click', function(event) {
        $('.in-progress').toggle();
        var text = $('#toggle-in-progress').text();
        $('#toggle-in-progress').text(
          text == "Show Pending Transactions" ? "Hide Pending Transactions" : "Show Pending Transactions");
      });

      if ({{ year }}) {
        $('#{{ year }}').addClass('active');
        if ('{{ quarter }}') {
          $('#{{ year }}-{{ quarter }}').addClass('active');
        } else {
          $('#{{ year }}-Q1').addClass('active');
          $('#{{ year }}-Q2').addClass('active');
          $('#{{ year }}-Q3').addClass('active');
          $('#{{ year }}-Q4').addClass('active');
        }
      }
    });

    function filter_by_period(year, quarter="") {
         location.href = {% url 'revenue_tracker:transaction_list' %} + "?year=" + year + "&quarter=" + quarter;
    }

    function set_date_range_since(days) {
      var now_minus_days = Date.now() + (-days * 24 * 3600 * 1000);
      var now = Date.now();
      $( "#from_date" ).val(new Date(now_minus_days).toISOString().substr(0, 10));
      $( "#to_date" ).val(new Date(now).toISOString().substr(0, 10));
    }
  </script>
{% endblock footer %}
